@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);

  --background-color: #040c18;
  --main-color: #be4bdb;
  --transition: 0.35s ease-in-out;
  --menu-color: #e6e7e8;
  --menu-bg-color: #cdced1;
  --title-color: #cdd1d6;
  --letter-spacing: 2.5px;
  --border-radius: 4px;
  --nav-height: 75px;
  --section-padding: 3.5rem 4rem;

  --color-footer: #031b34;
  --color-blog: #042c54;
  --color-text: #749ec7;
  --color-subtext: #ff8a71;
  --button-color: #ff4820;
}

/************ Default Css ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  background-color: var(--background-color);
  font-family: var(--font-family), sans-serif;
  color: var(--color-text);
}

img {
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: transparent;
  font-family: var(--font-family);
  outline: none;
}

.gradient__text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
