@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paprika&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paprika&family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;
  --subtitle-font: 'Paprika', cursive;
  --title-font: 'Poppins', sans-serif;
  --transition: 0.35s ease-in-out;
  /* color */
  --gradient-text: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  --background-color: #040c18;
  --main-color: #be4bdb;
  --menu-color: #e6e7e8;
  --menu-bg-color: #1d242f;
  --title-color: #cdd1d6;
  --color-blog: #041c32;
  --button-color: #ff4820;
  --color-text: #749ec7;

  /* size */
  --letter-spacing: 2.5px;
  --border-radius: 4px;
  --nav-height: 75px;
  --section-padding: 3.5rem 4rem;
  --max-width: 1120px;

  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

/************ Default Css ************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  background-color: var(--background-color);
  font-family: var(--font-family), sans-serif;
  color: var(--color-text);
}

img {
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: transparent;
  font-family: var(--font-family);
  outline: none;
}

.gradient__text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
